@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Playfair Display', Georgia, serif;
  background-color: #F5F1EE;
  color: #333;
}

* {
  user-select: none;
}

img {
  pointer-events: none;
}
